.footer{
    /* background-color: blueviolet; */
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    padding: 25px 0px;
}
.footer p,
.footer p a{
    color: white;
}
.footer p{
    margin-bottom: 0px;
}
#end{
    text-align: end;
}

/* Media Query Start */

@media (max-width: 799px){
  .footer p{
    text-align: center;
  }
}

@media (max-width: 477px){
    .footer p{
        text-align: center;
      }
  
}