
.register li{
  float: right;
  list-style: none;
  color: rgb(122, 30, 122);
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.register li:hover{
  font-weight: 500;
  color: rgb(36, 6, 36);
}
#main{
  margin-left: 25px;
}

#head{
  transform: translateX(5%);
  margin:30px;
  padding: 25px;
}

#fix div{
  transform: translateX(-1%);
}


@media(max-width: 375px){
  
#head{
  transform: translateX(-9%);
  margin:30px;
  padding: 25px;
}

#fix div{
  transform: translateX(3%);
}
  

}
@media(max-width: 799px){
  /* #head{
    margin:5px;
  }
  .inputbox{
    transform: translateX(10%);
  }
  
#head{
  transform: translateX(-1%);
  
}

#fix div{
  padding: 0;
  transform: translateX(9%);
} */

}